html, body {
    margin: 0;
    padding: 0;
}

#page-container {
    width: 100vw;
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.main-layout {
    border: 2px solid black;
}

#header {
    grid-area: 1/2/2/5;
}

#nav-bar {
    grid-area: 1/1/5/2;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(12, 100px);
}

#dashboard-icon, #links-icons, #settings-icons {
    grid-column: 1/2;
}



#links-icons > li, #settings-icons > li {
    width: 25px;
    height: 25px;
}

#dashboard-icon {
    grid-row: 1/2;
    display: grid;
    justify-content: end;
    align-items: center;
}

#dashboard-icon > img {
    margin-bottom: 20px;
    margin-right: 15px;
    width: 50px;
    height: 50px;
}

#links-icons {
    grid-row: 2/5;
    display: grid;
    align-items: start;
    justify-items: end;
    padding-left: 0;
    gap: 22.5px;
    margin-top: 27px;;
    margin-right: 15px;
}

#settings-icons {
    grid-row: 5/6;
    display: grid;
    align-items: start;
    justify-items: end;
    padding-left: 0;
    gap: 22.5px;
    margin-top: 51.5px;;
    margin-right: 15px;
}

h1, #links, #support {
    grid-column: 2/3;
}

#nav-bar > ul{
    list-style: none;
    font-size: 25px;
}

h1 {
    grid-row: 1/2;
}

#links {
    grid-row: 2/5;
    display: grid;
    align-items: center;
    justify-items: baseline;
    padding-left: 0;
    gap:20px;
}

#support {
    padding-left: 0;
    grid-row: 5/6;
    display: grid;
    align-content: baseline;
    gap: 20px;
    margin-top: 50px;
}

#main-content {
    grid-area: 2/2/5/5;
}